@using Microsoft.AspNetCore.Identity
@inject SignInManager<CliMed.Data.ApplicationUser> SignInManager
@inject UserManager<CliMed.Data.ApplicationUser> UserManager

@{
    <!--string nome = (await UserManager.GetUserAsync(User)).Nome;
    string nome = (await UserManager.GetUserAsync(User)).Nome;
    string nome = (await UserManager.GetUserAsync(User)).Nome;
    string foto = (await UserManager.GetUserAsync(User)).Fotografia; -->
}



    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <!--  <img src="~/Imagens/Utilizadores/" height="30" />
                ! -->
                    Seja Bem Vindo @User.Identity.Name!
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
